Repository DamCousik/SimonSays-Game-Development, pull requests merged in 2020-07, with the labels that each got.

#20 Fetching zone number dynamically and displaying it on the zones screen
  SimonSays/Assets/Rotation/Scenes/ArenaZone.unity
  SimonSays/Assets/Scripts/CharacterMovement.cs
  SimonSays/Assets/Scripts/ClickZone.cs
  SimonSays/Assets/Scripts/LetterCollection.cs
  SimonSays/ProjectSettings/TagManager.asset
Labels: zone number, zones

#41 Fix zone b obstacle and positions in yellow healthbar
  SimonSays/Assets/Zones/Zone A/Main Game/Scenes/Zone-A-Screen.unity
  SimonSays/Assets/Zones/Zone B/Main Game/NewPrefabs/Obstacle Prefab/Desert_Hurdles.prefab
  SimonSays/Assets/Zones/Zone B/Main Game/Scenes/Zone-B-Screen.unity
  SimonSays/Assets/Zones/Zone C/Main Game/Scenes/Zone-C-Screen.unity
  SimonSays/Assets/Zones/Zone D/Main Game/Scenes/Zone-D-Screen.unity
  SimonSays/Assets/Zones/Zone E/Main Game/Scenes/Zone-E-Screen.unity
  SimonSays/Assets/Zones/Zone F/Main Game/scenes/Zone-F-Screen.unity
  SimonSays/Assets/Zones/Zone G/Main Game/Scenes/Zone-G-Screen.unity
  SimonSays/Assets/Zones/Zone H/Main Game/Scenes/Zone-H-Screen.unity
Labels: healthbar, zones

#45 Removed box colliders from all cubes and removed sphere colliders on …
  SimonSays/Assets/Zones/Zone B/Main Game/NewPrefabs/Obstacle Prefab/Desert_Hurdles.prefab
  SimonSays/Assets/Zones/Zone B/Main Game/Scenes/Zone-B-Screen.unity
Labels: zone 2, zones

#46 Zone H Fixes
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharA.prefab
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharB.prefab
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharD.prefab
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharE.prefab
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharG.prefab
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharH.prefab
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharI.prefab
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharM.prefab
  SimonSays/Assets/Zones/Zone A/Main Game/Character Prefabs/CharW.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharA.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharB.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharD.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharE.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharG.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharH.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharI.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharM.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Character Prefabs/CharW.prefab
  SimonSays/Assets/Zones/Zone H/Main Game/Scenes/Zone-H-Screen.unity
Labels: zoneH, zones

#48 Zone e fixes
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharB.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharC.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharD.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharE.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharF.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharG.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharH.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharI.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharJ.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharK.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharL.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharM.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharW.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharX.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Character Prefabs/CharZ.prefab
  SimonSays/Assets/Zones/Zone E/Main Game/Scenes/Zone-E-Screen.unity
Labels: ZoneE, zones

#49 Branch g fixes
  SimonSays/Assets/Scripts/IncorrectLetterChoices.cs
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharA.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharB.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharC.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharD.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharE.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharF.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharG.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharH.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharI.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharJ.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharK.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharL.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharM.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharW.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharX.prefab
  SimonSays/Assets/Zones/Zone F/Main Game/Character Prefabs/CharZ.prefab
  SimonSays/Assets/Zones/Zone G/Main Game/Character Prefabs/CharB.prefab
  SimonSays/Assets/Zones/Zone G/Main Game/Scenes/Zone-G-Screen.unity
Labels: ZoneG, zones

#51 Zone b fixes
  SimonSays/Assets/Scripts/CharacterMovement.cs
  SimonSays/Assets/Zones/Zone B/Main Game/Scenes/Zone-B-Screen.unity
Labels: ZoneB, zones
